<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Utilisateurs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Liste des Utilisateurs</h1>
    <a th:href="@{/users/create}">Créer un nouvel utilisateur</a>
    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.authorities}"></td>
                <td>
                    <a th:href="@{/users/delete/{username}(username=${user.username})}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
